.relative {
	padding: 0 0 20px 0;
	&__title {
		margin: 0 0 15px 0;
	}
}
.relative-slider {
	position: relative;
	.arrow-prev,
	.arrow-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 999;
	}
	.arrow-prev {
		left: -28px;
	}
	.arrow-next {
		right: -28px;
	}
	.slick-slide {
		margin: 0 10px;
	}
	.slick-list {
		margin: 0 -10px;
	}
}
.relative__product.slick-slide {
	display: flex;
}