.reviews {
    &__title {
        margin: 0 0 10px 0;
    }
}

.reviews-slider {
    margin: 30px auto;
    width: 290px;

    &__slide {
        padding: 0 15px;
        position: relative;
    }

    &__rating {
        display: flex;
        justify-content: center;
        margin: 0 0 10px 0;

        img {
            width: 16px;
            height: 16px;
        }
    }

    &__name {
        margin: 0 0 10px 0;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    &__text {
        text-align: justify;
        line-height: 16px;
    }

    .slick-dots li button:before {
        font-size: 10px;
    }

    .slick-dots li.slick-active button:before {
        color: #161616;
    }
}
