.order-page {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.order-page__title {
  margin: 0 0 15px 0;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #000000;
}
.order-page__text {
  margin: 0 0 10px 0;
  font-weight: 600;
}
.order-page__button {
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  margin: 40px auto;
  background: #E02424;
  color: white;
  display: block;
  width: 200px;
}
