.card {
	padding: 0 0 20px 0;
    border: none !important;
	&__product {
		display: grid;
		grid-template-rows: 1.5fr 0.5fr;
		width: 100%;
	}
	&__image {
		margin: 0 auto;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-right: 1px solid #e9e9e9;
		border-bottom: 1px solid #e9e9e9;
		border-left: 1px solid #e9e9e9;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		padding: 10px;
	}
	&__label {
		margin: 0 0 15px 0;
		height: 44px;
		overflow: hidden;
		font-weight: bold;
		font-size: 14px;
		color: #000;
		text-align: center;
	}
	&__price {
		margin: 0 0 15px 0;
		height: 37px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__old-price {
		margin: 0 0 5px 0;
		font-weight: 500;
		font-size: 18px;
		text-decoration-line: line-through;
		color: #A5A5A5;
		&:after {
			content: " ₴";
		}
	}
	&__actual-price {
		font-weight: bold;
		font-size: 22px;
		color: #ff0000;
		&:after {
			content: " ₴";
		}
	}
	&__price-without-discount {
		font-weight: bold;
		font-size: 18px;
		color: #000;
		&::after {
			content: '₴';
		}
	}
	&__button {
		display: block;
		border-radius: 10px;
		padding: 10px;
		width: 75%;
		min-width: 120px;
		font-size: 18px;
		text-align: center;
		font-weight: 500;
		color: #fff;
		background: #ff0000;
	}
}
@media(min-width: 576px) {
	.card {
		&__label {
			margin: 0 0 10px 0;
			height: 48px;
		}
		&__price {
			margin: 0 0 10px 0;
		}
		&__old-price {
			font-size: 14px;
		}
		&__actual-price {
			font-size: 18px;
		}
		&__button {
			font-size: 16px;
		}
	}
}
