.product-list {
	&__title {
		margin: 0 0 15px 0;
		font-weight: bold;
		font-size: 22px;
		text-align: center;
		color: #000000;
	}
}
@media(min-width: 430px) {
	.product-list {
		.content {
			>.row {
				display: grid;
				grid-template-columns:  repeat(auto-fill, 140px);
				justify-content: center;
				grid-gap: 15px;
			}
		}
	}
}