.product-list {
	&__title {
		margin: 0 0 15px 0;
		font-weight: bold;
		font-size: 22px;
		text-align: center;
		color: #000000;
	}
}
@media(min-width: 400px) {
	.product-list {
		.content {
			>.row {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
		.card {
			&__product {
				margin: 10px;
				flex-basis: 44%;
			}
		}
	}
}
@media(min-width: 576px) {
	.product-list {
		.card {
			&__product {
				flex-basis: 29%;
			}
		}
	}
}
@media(min-width: 768px) {
	.product-list {
		.card {
			&__product {
				flex-basis: 22%;
			}
		}
	}
}