.product-list {
	&__title {
		margin: 0 0 15px 0;
		font-weight: bold;
		font-size: 22px;
		text-align: center;
		color: #000000;
	}
	.card {
		&__product {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
}